
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to the Order Web Application!</h2>
</div>
<div class="container">
    <div class="lead">
        <h3>The order application project is involving the following technologies:</h3>
        <ul>
            <li>ASP.NET WebAPI</li>
            <li>ASP.NET MVC</li>
            <li>Entity Framework</li>
            <li>Language Integrated Query (LINQ)</li>
        </ul>
    </div>
    <div class="home-body">
        <div class="home-text">
        <h3 class="home-title">The goals of the application are :</h3>
            <ol>
                <li>To allow customer place order from a list of item form, by selecting the amount of items required, subtotal of the order will be calculated prior checkout.</li>
                <li>To have record of which customer placed the order and the order can be modified before being processed from the seller.</li>
                <li>To be able to update the weekly products and pricing per items; the new order form will list the updated price; and the past orders will be recorded in OrderItems database.</li>
            </ol>
        </div>
        <div class="home-text">
            <h3 class="home-title">Further Modifications/Improvement:</h3>
            <ol>
                <li>To develop Order Form methods and actions that communicate between OrderItems, Order and Customer database.</li>
                <li>To improve CRUD functionality on Order Data Controller</li>
                <li>To improve UI/UX design</li>
            </ol>
        </div>
        <div class="home-text">
            <h3 class="home-title">References for Educational Purposes :</h3>
           
            <p>Photo credited was listed in Photo_Resources.txt</p>
            <a href="https://github.com/christinebittle/varsity_mvp"> Attributed to the Varsity Project by Christine Bittle</a>
        </div>
    </div>
</div>


